@import "tailwindcss";

html,
body {
  height: 100%;
}

:root {
  --bg-primary: #cfd7ea;
  --bg-glass: rgba(255, 255, 255, 0.2);
  --bg-top: rgb(255, 255, 255);
  --text-primary: black;
}
.dark {
  --bg-primary: #111111;
  --bg-glass: rgba(0, 0, 0, 0.5);
  --bg-top: rgb(54, 49, 49);
  --text-primary: white;
}

.glass {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.glass::before,
.glass::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: skewX(-45deg);
  transition: all 0.3s ease-in;
}

@media (width > 768px) {
  .glass:hover::after,
  .glass:hover::before {
    animation: reflect 1s ease-in-out;
  }
}

@media (width < 768px) {
  .glass::before,
  .glass::after {
    animation: reflect 1s ease-in-out;
  }
}

@keyframes reflect {
  0%,
  100% {
    transform: translateX(0) skewX(-45deg);
  }
  50% {
    transform: translateX(70px) skewX(-45deg);
  }
}

header .side-nav {
  transition: all 0.3s;
}

.slide {
  left: 0;
}

.about-me {
  transform: scale(0%);
  transition: all 0.5s ease;
  top: 0;
  left: 0;
}
.active {
  display: block;
  top: 0;
  left: 0;
  transform: scale(100%);
}

.about-me-detail li {
  display: inline-block;
  padding: 4px;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
}
